
  body{
    background-image: linear-gradient(#f1f1f1 1px, transparent 1px),
    linear-gradient(90deg, #f1f1f1 1px, transparent 1px);
   background-size: 20px 20px;
    background-color: #63C132;
  }

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  
}




.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.columna {
  flex: 1;
  padding-left: 20px;
}

.columna ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.columna li {
  margin-bottom: 10px;
  list-style: none;
}

.columna a {
  text-decoration: none;
  color: #333;
  font-size: 18px;
  transition: color 0.3s ease;
}

.columna a:hover {
  color: #195824;
}

/* Estilos adicionales para dispositivos móviles */
@media (max-width: 768px) {
  .menu {
    flex-direction: column;
    align-items: flex-start;
  }

  .columna {
    padding-left: 0;
  }
}








.cdv h1 {
  font-size: 24px;
  text-align: center;
  margin-bottom: 20px;
}

.cdv {
  padding: 50px;
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

.data-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.data-table th,
.data-table td {
  padding: 10px;
  border: 1px solid #ccc;
}

.data-table thead th {
  background-color: #f2f2f2;
  font-weight: bold;
}

.data-table tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

.cdv a {
  display: inline-block;
  margin-top: 20px;
  text-decoration: none;
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.cdv a:hover {
  background-color: #555;
}



.cjpf {
  padding: 20px;
  background-color: #f1f1f1;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.cjpf h1 {
  font-size: 24px;
  text-align: center;
  margin-bottom: 20px;
}

.cjpf p {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 10px;
}

.cjpf a {
  display: inline-block;
  margin-top: 20px;
  text-decoration: none;
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.cjpf a:hover {
  background-color: #555;
}



.cdb {
  padding: 20px;
  background-color: #f1f1f1;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.cdb h1 {
  font-size: 24px;
  text-align: center;
  margin-bottom: 20px;
}

.cdb p {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 10px;
}

.cdb a {
  display: inline-block;
  margin-top: 20px;
  text-decoration: none;
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.cdb a:hover {
  background-color: #555;
}



.cye {
  padding: 20px;
  background-color: #f1f1f1;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.cye h1 {
  font-size: 24px;
  text-align: center;
  margin-bottom: 20px;
}

.cye p {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 10px;
}

.cye a {
  display: inline-block;
  margin-top: 20px;
  text-decoration: none;
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.cye a:hover {
  background-color: #555;
}



.dph {
  padding: 20px;
  background-color: #f1f1f1;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.dph h1 {
  font-size: 24px;
  text-align: center;
  margin-bottom: 20px;
}

.dph p {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 10px;
}

.dph a {
  display: inline-block;
  margin-top: 20px;
  text-decoration: none;
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.dph a:hover {
  background-color: #555;
}



.vfsv {
  padding: 20px;
  background-color: #f1f1f1;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.vfsv h1 {
  font-size: 24px;
  text-align: center;
  margin-bottom: 20px;
}

.vfsv p {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 10px;
}

.vfsv a {
  display: inline-block;
  margin-top: 20px;
  text-decoration: none;
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.vfsv a:hover {
  background-color: #555;
}

.cursor-cursor {
  position: relative;
  display: inline-block;
}

.cursor-effect::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: yellow;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
}

.cursor-effect:hover::after {
  opacity: 0.4;
}

